#fastapi==0.111.0
#uvicorn==0.30.0
#numpy==1.26.4
#pydantic==2.7.0
git+https://github.com/Michaelliu1017/PyBanner.git
fastapi
uvicorn
torch
torchvision
timm
numpy
opencv-python-headless
Pillow
scikit-learn